src/nasui/build/
src/webui/build/
src/nasui/node_modules/
src/webui/node_modules/
src/nni_manager/node_modules/
src/nni_manager/dist/

**/__pycache__/
**/build/

*.egg-info
*.ipynb_checkpoints
**/model_path
dispatcher.log
*.ipynb
**/ips/