Django==2.2.25
h5py==2.10.0
hyperopt==0.1.2
idna==2.8
importlib-metadata==1.7.0
importlib-resources==3.0.0
Jinja2==2.11.2
joblib==0.14.1
json-tricks==3.13.2
Keras==2.1.6
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
Markdown==3.2.1
MarkupSafe==1.1.1
matplotlib==3.0.3
networkx==2.3
numpy==1.18.4
nvidia-ml-py3==7.352.0
sklearn==0.0
sqlparse==0.4.2
tensorboard==1.15.0
tensorflow_gpu==1.15.0
termcolor==1.1.0
torch==1.2.0
torchvision==0.4.0
tqdm==4.36.1
urllib3==1.25.6
virtualenv==20.0.25
zmq==0.0.0
